In [ ]:
import pandas as pd

In [ ]:
profiles = pd.read_csv("/content/insta_profiles.csv")
profiles.head()

,profile_id,profile_name,following,followers,n_posts,cts,is_business_account
0,4721049632,jphillip033,250,146,170,2019-08-01 14:38:55.394 -0400,False
1,590583002,mama_haas,534,1145,2878,2019-08-01 14:39:36.526 -0400,False
2,1074146658,yellowlightbreen,469,324,431,2019-08-01 14:39:54.407 -0400,False
3,145064167,sabahlke,266,192,590,2019-08-01 14:40:16.443 -0400,False
4,2061867521,masslivehs,157,4137,753,2019-08-01 14:40:40.390 -0400,True

In [ ]:
locations = pd.read_csv("/content/insta_locations.csv")
locations.rename({'id': 'location_id'}, axis=1, inplace=True)
locations.head()

,location_id,name,dir_city_name,dir_country_name,lat,lng,cts
0,274391278,Nová Vieska,Kis-Újfalu,Slovakia,18.466667,47.866667,2019-05-29 01:21:38.037
1,148885595789195,Everest Today,Pasupati,Nepal,85.330150,27.701960,2019-05-29 01:21:46.295
2,263258277,BULAC - Bibliothèque universitaire des langues...,13ème Arrondissement Paris,France,2.375995,48.827240,2019-05-29 01:21:54.355
3,240487083,Sittano’s Bar & Restaurant,Penrith,Australia,150.694367,-33.751031,2019-05-29 01:22:12.909
4,845293065,North Wembley,Preston,United Kingdom,-0.304000,51.562700,2019-05-29 01:22:53.438

In [ ]:
posts = pd.read_csv("/content/drive/MyDrive/instagram_posts.csv",sep="\t",nrows=5000000,skiprows=5000000,header=None)
posts.head()

,0,1,2,3,4,5,6,7,8,9
0,33538334,-1,Bnv9kX0B_t-,5.433314e+09,243489074.0,2018-09-15 16:02:55.000,1,Line : @Growing.Balloon (มี@นะคะ)\nโทร. 09595-...,4,0
1,33538319,-1,BnQ_BdEh_vi,9.152211e+08,243489074.0,2018-09-03 15:19:10.000,1,• ไม่รู้สึกอะไรเลย จริงๆหรอว่ะ? 555 •\n#สัมผัส...,997,14
2,33538335,-1,BmUvNHXBDNS,1.792555e+09,243489074.0,2018-08-11 05:46:31.000,1,ถ้าแม่ยังอยู่วันนี้คงได้พาไปเที่ยวแล้ว คิดถึงท...,12,0
3,33538336,-1,BmUu99XhnnT,1.792555e+09,243489074.0,2018-08-11 05:44:27.000,1,คิดถึงแม่ ทุกวัน ♥️♥️ภาพที่มีแม่,10,0
4,33538337,-1,BkmXam6DpfJ,3.590349e+08,243489074.0,2018-06-29 09:02:11.000,1,NaN,8,0

In [ ]:
posts.dropna(subset=[posts.columns[3],posts.columns[4]], how='any', inplace=True)

In [ ]:
posts.drop([posts.columns[0],posts.columns[1],posts.columns[7]], axis=1, inplace=True)

In [ ]:
posts = posts.astype({posts.columns[1]:'int64',posts.columns[2]:'int64'})

In [ ]:
posts.head()

,0,1,2,3,4,5,6,7,8,9
0,33538334,-1,Bnv9kX0B_t-,5433314491,243489074,2018-09-15 16:02:55.000,1,Line : @Growing.Balloon (มี@นะคะ)\nโทร. 09595-...,4,0
1,33538319,-1,BnQ_BdEh_vi,915221062,243489074,2018-09-03 15:19:10.000,1,• ไม่รู้สึกอะไรเลย จริงๆหรอว่ะ? 555 •\n#สัมผัส...,997,14
2,33538335,-1,BmUvNHXBDNS,1792555365,243489074,2018-08-11 05:46:31.000,1,ถ้าแม่ยังอยู่วันนี้คงได้พาไปเที่ยวแล้ว คิดถึงท...,12,0
3,33538336,-1,BmUu99XhnnT,1792555365,243489074,2018-08-11 05:44:27.000,1,คิดถึงแม่ ทุกวัน ♥️♥️ภาพที่มีแม่,10,0
4,33538337,-1,BkmXam6DpfJ,359034948,243489074,2018-06-29 09:02:11.000,1,NaN,8,0

In [ ]:
# insta_posts =  pd.merge(pd.merge(posts,profiles,on='profile_id'),locations,on='location_id')
insta_posts = pd.merge(posts,profiles,left_on=posts.columns[1],right_on='profile_id').merge(locations,left_on=posts.columns[2], right_on='location_id')
insta_posts.head()

,2,3,4,5,6,8,9,profile_id,profile_name,following,...,n_posts,cts_x,is_business_account,location_id,name,dir_city_name,dir_country_name,lat,lng,cts_y
0,BoCoAdXDIMY,5930710850,384847428222832,2018-09-22 22:01:53.000,1,101,6,5930710850,sandydanteh,1656,...,6,2019-04-09 03:47:31.431 -0400,False,384847428222832,Aghien-feu de l'opéra,Abobo-Atté,Côte d'Ivoire,-3.993469,5.385078,2019-06-08 00:09:10.103
1,ByVxPFUhIQt,43903822,2936966,2019-06-05 21:40:14.000,1,1521,225,43903822,thejenbean,1314,...,277,2018-05-31 10:19:42.907 -0400,False,2936966,Milios Hair Studio,"Lakeview, Chicago",United States,-87.653812,41.939735,2019-03-30 13:52:16.011
2,ByKtt_bJyK4,193726490,584073887,2019-06-01 14:37:51.000,1,21,1,193726490,alwayspwright,811,...,1566,2019-05-08 20:22:38.331 -0400,False,584073887,Yasawa Island Resort & Spa,Assawa,Fiji,-179.983000,-16.166700,2019-06-11 11:24:28.487
3,BxWXl5Lg8zV,193726490,584073887,2019-05-12 06:44:00.000,1,33,2,193726490,alwayspwright,811,...,1566,2019-05-08 20:22:38.331 -0400,False,584073887,Yasawa Island Resort & Spa,Assawa,Fiji,-179.983000,-16.166700,2019-06-11 11:24:28.487
4,BxWXfM3gS32,193726490,584073887,2019-05-12 06:43:05.000,1,38,0,193726490,alwayspwright,811,...,1566,2019-05-08 20:22:38.331 -0400,False,584073887,Yasawa Island Resort & Spa,Assawa,Fiji,-179.983000,-16.166700,2019-06-11 11:24:28.487

In [ ]:
insta_posts.drop([insta_posts.columns[1],insta_posts.columns[2],insta_posts.columns[7],insta_posts.columns[14],insta_posts.columns[12]], axis=1, inplace=True)

In [ ]:
insta_posts.head()

,post_id,cts_x,post_type,number_likes,number_comments,profile_name,following,followers,n_posts,is_business_account,name,dir_city_name,dir_country_name,lat,lng,cts_y
0,BoCoAdXDIMY,2018-09-22 22:01:53.000,1,101,6,sandydanteh,1656,237,6,False,Aghien-feu de l'opéra,Abobo-Atté,Côte d'Ivoire,-3.993469,5.385078,2019-06-08 00:09:10.103
1,ByVxPFUhIQt,2019-06-05 21:40:14.000,1,1521,225,thejenbean,1314,16635,277,False,Milios Hair Studio,"Lakeview, Chicago",United States,-87.653812,41.939735,2019-03-30 13:52:16.011
2,ByKtt_bJyK4,2019-06-01 14:37:51.000,1,21,1,alwayspwright,811,503,1566,False,Yasawa Island Resort & Spa,Assawa,Fiji,-179.983000,-16.166700,2019-06-11 11:24:28.487
3,BxWXl5Lg8zV,2019-05-12 06:44:00.000,1,33,2,alwayspwright,811,503,1566,False,Yasawa Island Resort & Spa,Assawa,Fiji,-179.983000,-16.166700,2019-06-11 11:24:28.487
4,BxWXfM3gS32,2019-05-12 06:43:05.000,1,38,0,alwayspwright,811,503,1566,False,Yasawa Island Resort & Spa,Assawa,Fiji,-179.983000,-16.166700,2019-06-11 11:24:28.487

In [ ]:
insta_posts.rename({2: 'post_id', 5: 'cts_x', 6: 'post_type', 8: 'number_likes', 9: 'number_comments'}, axis=1, inplace=True)

In [ ]:
insta_posts.to_json("modifiedSecond_chunk.json",orient='records')

# New Section

In [ ]:
insta_posts.drop(insta_posts.columns[9], axis=1, inplace=True)

In [ ]:
posts.shape

(4993586, 7)

In [ ]:
profiles.isna().sum()

In [ ]:
profiles.dropna(subset=['profile_id', 'following', 'followers','n_posts','is_business_account','cts'], how='any', inplace=True)

In [ ]:
profiles.shape

In [ ]:
profiles.drop(['sid', 'firstname_lastname', 'description', 'url'], axis=1, inplace=True)

In [ ]:
profiles.columns

In [ ]:
locations.isna().sum()

In [ ]:
locations.dropna(subset=['dir_city_name','lat','lng'], how='any', inplace=True)

In [ ]:
locations.drop(['sid', 'street', 'city', 'zip','region','cd', 'phone', 'aj_exact_city_match', 'aj_exact_country_match', 'blurb','dir_city_id', 'dir_country_id','primary_alias_on_fb','slug','website'], axis=1, inplace=True)

KeyError: ignored

In [ ]:
locations.drop('dir_city_slug',axis=1,inplace=True)

In [ ]:
locations.isna().sum()

id                  0
name                0
dir_city_name       0
dir_country_name    0
lat                 0
lng                 0
cts                 0
dtype: int64

In [ ]:
locations.to_csv("insta_locations.csv",index=False)

In [ ]:
profiles.dtypes

In [ ]:
import numpy as np

In [ ]:
profiles = profiles.astype({'following': 'int64', 'followers': 'int64','profile_id':'int64','n_posts':'int64'})

In [ ]:
profiles.head()

In [ ]:
profiles.isna().sum()

profile_id             0
profile_name           0
following              0
followers              0
n_posts                0
cts                    0
is_business_account    0
dtype: int64

In [ ]:
profiles.to_csv("insta_profiles.csv",index=False)

In [1]:
import json
import glob
import numpy as np
import pandas as pd

In [2]:
train_files = glob.glob("/content/*.json")
print(train_files)

['/content/first_chunk.json', '/content/eight_chunk.json', '/content/seven_chunk.json', '/content/four_chunk.json', '/content/third_chunk.json', '/content/five_chunk.json', '/content/modifiedSecond_chunk.json', '/content/nine_chunk.json', '/content/six_chunk.json']

In [3]:
df_train = pd.DataFrame()
for count,ele in enumerate(train_files,len(train_files)):
    df_train = pd.concat([df_train, pd.read_json(ele)])

df_train.to_json("final.json",orient='records')